.Editor {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  align-items: center;
}

.text {
  border-radius: 10px;
  font-size: large;
}

.Editor .button_wrapper {
  display: flex;
  flex-direction: row; /* 수직에서 수평으로 변경 */
  gap: 10px; /* 버튼 사이 간격 */
}

.finish_line {
  border: bold;
}

.add,
.cancel {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* ✅ 글자가 줄바꿈되지 않도록 함 */
}
