.Editor {
  display: flex; /* 추가 필요 */
  flex-direction: row;
  border-radius: 10px;
  gap: 1rem; /* 요소 간 간격 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  align-items: center; /* 세로 중앙 정렬 (선택) */
}

.Editor .button_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.finish_line {
    border: bold;
}

.add {
    border: none;
    background-color: white;
    cursor: pointer;
}

.cancel {
    border: none;
    background-color: white;
    cursor: pointer;
}